/vendor
/node_modules
Homestead.yaml
Vagrantfile
/bootstrap/compiled.php
/build/logs
/storage
/public/beazeadb
composer.phar
/app/tests/_log
/build/logs
.env
.env.php
.env.*.php
_ide_helper.php
.DS_Store
Thumbs.db
.idea
.vagrant